#设置开启调试模式
APP_DEBUG = true
# local dev prod
APP_ENV = local
#APP_DEBUG =  false
# mysql
DB_HOSTNAME = localhost
DB_DATABASE = develop
DB_USERNAME = root
DB_PASSWORD = 123456
DB_PORT = 3306

REDIS_HOST = 127.0.0.1
REDIS_PORT = 6379

# rabbitmq
MQ_HOST = localhost




